Repository ovh-ux/manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ovh/team-manager-dev, @ovh/team-manager-documentation, @ovh/team-manager-build, @ovh/team-manager-continuous-integration

fix(telephony): ccs screenlist conditions remove
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.factory.js
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/screen/screenList/telephony-screen-list.factory.js
Owners: @ovh/team-manager-dev

fix(telephony): css tts add
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
Owners: @ovh/team-manager-dev

fix(ccs): link popover to dropdown button
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/entry.html
Owners: @ovh/team-manager-dev

fix(telephony): add reordering to ccs
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-vertical.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.component.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(telecom): ovhPabx scheduler link
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(telecom): ovhPabx tts link
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(telecom): ovhPabx hunting queues link
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(telecom): add ccs layout user prefs
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
Owners: @ovh/team-manager-dev

fix(telecom): ovhPabx breadcrumb translation
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_pt_PT.json
Owners: @ovh/team-manager-dev

fix(telecom): fix ovhPabx scheduler popup placement
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/scheduler.directive.js
Owners: @ovh/team-manager-dev

fix(telecom): dialplan ccs delete undefined
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
Owners: @ovh/team-manager-dev

fix(telecom): svi vxml
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/svi/svi.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.html
Owners: @ovh/team-manager-dev

fix(telecom): ovhPabx menu edit radio button
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/edit/edit.html
Owners: @ovh/team-manager-dev

fix(telecom): fix empty tag position
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-vertical.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
Owners: @ovh/team-manager-dev

fix(telecom): fix ccs main block position horizontal
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
Owners: @ovh/team-manager-dev

fix(telecom): ovhPabx radio buttons
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/edit/edit.html
Owners: @ovh/team-manager-dev

fix(telecom): svi url update
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/svi/svi.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
Owners: @ovh/team-manager-dev

fix(telecom): add ccs display options dropdown
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(telecom): add ccs guides
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/ovh-pabx.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/menus/menus.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/menus/menus.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/sounds.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/sounds.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/tts.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/tts.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/guides.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(telecom): ccs terminal action label
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
Owners: @ovh/team-manager-dev

fix(telecom): add alias records queue description
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/records/records.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/records/records.html
Owners: @ovh/team-manager-dev

fix(telecom): add scheduler & queues guides
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/ovh-pabx.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/scheduler/ovhPabx/ovh-pabx.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/scheduler/ovhPabx/ovh-pabx.html
Owners: @ovh/team-manager-dev

fix(telecom): ccs extensions order integrity
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.factory.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 988]
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_en_GB.json
Owners: @ovh/team-manager-dev

fix(i18n): add missing translations [CDS 981]
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/translations/Messages_fr_CA.json
Owners: @ovh/team-manager-dev

fix(telecom): add missing ccs imports
  packages/manager/apps/telecom/src/app/app.module.js
Owners: @ovh/team-manager-dev

feat(ts): upgrade typescript version
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-dev-server/package.json
  yarn.lock
Owners: @ovh/team-manager-build, @ovh/team-manager-dev

build(deps): remove typescript
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/component-rollup-config/src/index.js
  packages/manager/tools/component-rollup-config/src/plugins/common/index.js
  packages/manager/tools/component-rollup-config/src/plugins/translation-inject.js
  packages/manager/tools/component-rollup-config/src/plugins/translation-ui-router.js
  packages/manager/tools/component-rollup-config/src/plugins/translation-utils.js
  packages/manager/tools/component-rollup-config/tsconfig.json
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-config/src/index.js
  packages/manager/tools/webpack-config/src/loaders/translation-inject.js
  packages/manager/tools/webpack-config/src/loaders/translation-inject.ts
  packages/manager/tools/webpack-config/src/loaders/translation-json.js
  packages/manager/tools/webpack-config/src/loaders/translation-json.ts
  packages/manager/tools/webpack-config/src/loaders/translation-ui-router.js
  packages/manager/tools/webpack-config/src/loaders/translation-ui-router.ts
  packages/manager/tools/webpack-config/src/webpack.common.js
  packages/manager/tools/webpack-config/src/webpack.prod.js
  packages/manager/tools/webpack-config/tsconfig.json
  packages/manager/tools/webpack-dev-server/package.json
  packages/manager/tools/webpack-dev-server/src/config.js
  packages/manager/tools/webpack-dev-server/src/index.js
  packages/manager/tools/webpack-dev-server/src/index.ts
  packages/manager/tools/webpack-dev-server/tsconfig.json
  yarn.lock
Owners: @ovh/team-manager-build, @ovh/team-manager-dev

fix(eslint): remove eslintrc
  packages/manager/tools/component-rollup-config/.eslintrc.js
  packages/manager/tools/webpack-config/.eslintrc.js
  packages/manager/tools/webpack-dev-server/.eslintrc.js
Owners: @ovh/team-manager-build

fix(deps): correct lock file
  packages/manager/tools/component-rollup-config/package.json
  yarn.lock
Owners: @ovh/team-manager-build, @ovh/team-manager-dev

fix(lock): update lockfile
  yarn.lock
Owners: @ovh/team-manager-dev

fix(lock): fix lock file
  yarn.lock
Owners: @ovh/team-manager-dev

fix(deps): fix lock file
  yarn.lock
Owners: @ovh/team-manager-dev

fix(account-sidebar): correct type
  packages/manager/fragments/account-sidebar/src/components/AccountSidebarUserInfos.vue
Owners: @ovh/team-manager-dev

feat(account-sidebar): remove unused code
  packages/manager/fragments/account-sidebar/src/components/AccountSidebarPayment.vue
  packages/manager/fragments/account-sidebar/src/utils/paymentMeans.ts
Owners: @ovh/team-manager-dev

feat(account-sidebar): add payment mean logic
  packages/manager/fragments/account-sidebar/package.json
  packages/manager/fragments/account-sidebar/src/components/AccountSidebar.vue
  packages/manager/fragments/account-sidebar/src/components/AccountSidebarPayment.vue
  packages/manager/fragments/account-sidebar/src/components/AccountSidebarPaymentSkeleton.vue
  packages/manager/fragments/account-sidebar/src/models/payment.ts
  packages/manager/fragments/account-sidebar/src/styles/account-sidebar-payment.scss
  packages/manager/fragments/account-sidebar/src/utils/paymentMeans.ts
Owners: @ovh/team-manager-dev

fix(hub-next): fix environment singleton
  packages/manager/fragments/account-sidebar/src/components/AccountSidebar.vue
  packages/manager/fragments/account-sidebar/src/main.ts
Owners: @ovh/team-manager-dev

fix(deps): update deps
  packages/manager/fragments/account-sidebar/package.json
  yarn.lock
Owners: @ovh/team-manager-dev

fix(account-sidebar): fix env type
  packages/manager/fragments/account-sidebar/src/components/AccountSidebar.vue
Owners: @ovh/team-manager-dev

fix(environment): fix env issues
  packages/manager/fragments/account-sidebar/package.json
  packages/manager/fragments/account-sidebar/src/components/AccountSidebar.vue
  packages/manager/fragments/account-sidebar/src/main.ts
  packages/manager/fragments/account-sidebar/src/models/environment.d.ts
  packages/manager/fragments/account-sidebar/src/models/user.ts
  packages/manager/fragments/account-sidebar/src/utils/panelLinks.js
  packages/manager/fragments/account-sidebar/src/utils/redirectionService.js
Owners: @ovh/team-manager-dev

.github/CODEOWNERS:

# Default owners
* @ovh/team-manager-dev

# Documentation
*.md
/docs/ @ovh/team-manager-documentation

# Components
/packages/components/ @ovh/team-manager-dev

# Applications
/packages/manager/apps/ @ovh/team-manager-dev

# Modules
/packages/manager/modules/ @ovh/team-manager-dev

# Build / Tooling
/packages/manager/tools/ @ovh/team-manager-build

# Continuous Integration
/scripts/ @ovh/team-manager-continuous-integration
