Repository ovh-ux/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: continous-integration, dependencies, documentation, tests, translation required, univers-public-cloud, universe-hosted-private-cloud, universe-hub

.github/labeler.yml:

build:
  - packages/manager/tools/!(testcafe)/**
continous-integration:
  - .github/**
dependencies:
  - ./**/package.json
documentation:
  - docs/**
tests:
  - packages/manager/tools/testcafe/**
translation required:
  - packages/**/Messages_fr_FR.json
univers-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**

feat: fake conflict
  packages/manager/modules/billing-components/src/components/split-payment/translations/Messages_fr_FR.json
Labels: translation required

feat(dedicated): test
  packages/manager/apps/dedicated/client/app/index.js
Labels: none

feat(prj.notebooks.dashboard.gi.start-notebook): modal to start notebook
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.dashboard.gi.rm-notebook): add modal to rm notebook
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.dashboard.gi.stop-notebook): modal to stop notebook
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(project.notebooks.dashboard): setup general_info tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
Labels: univers-public-cloud

feat(project.notebooks.dashboard.gi): complete general_info tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(project.notebooks.dashboard.gi.tags-add): add modal to add tag
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

fix(pci): add billing information for notebooks
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/billing.service.js
  packages/manager/modules/pci/src/projects/project/sidebar/sidebar.constant.js
Labels: translation required, univers-public-cloud

fix(pci): add onboarding image for notebooks
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/assets/notebooks.png
Labels: univers-public-cloud

fix(pci): add notebooks table page
  packages/manager/modules/pci/src/projects/project/notebooks/Notebook.class.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/delete-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/delete-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/delete-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/delete-notebook/delete-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/delete-notebook/delete-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/delete-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.html
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

fix: add automation component
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.html
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.add.cmp.framework): create notebook framework section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-frameworks-list/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-frameworks-list/notebook-frameworks-list.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-frameworks-list/notebook-frameworks-list.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-frameworks-list/notebook-frameworks-list.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-frameworks-list/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(project.notebooks.add): create notebook page
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.add.cmp.config): create notebook config section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-configuration/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-configuration/notebook-configuration.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-configuration/notebook-configuration.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-configuration/notebook-configuration.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-configuration/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.add.cmp.privacy): create notebook privacy section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-privacy-settings/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-privacy-settings/notebook-privacy-settings.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-privacy-settings/notebook-privacy-settings.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-privacy-settings/notebook-privacy-settings.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-privacy-settings/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.add.cmp.resources): create notebook resources section
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_fr_FR.json
Labels: dependencies, translation required, univers-public-cloud

feat(project.notebooks.dashboard): setup attach_data tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.add.cmp.attach): create notebook attach section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.add.cmp.review): create notebook review section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/notebook-review.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/notebook-review.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/notebook-review.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(project.notebooks.dashboard.attach_data): add attach_data tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(project.notebooks.dashboard): setup general_info tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
Labels: univers-public-cloud

feat(project.notebooks.dashboard.gi): complete general_info tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

fix(project.notebooks): rename notebook class
  packages/manager/modules/pci/src/projects/project/notebooks/Notebook.class.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/notebook-review.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.controller.js
Labels: univers-public-cloud

feat(project.notebooks.dashboard.gi.tags-add): add modal to add tag
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.dashboard.gi.rm-notebook): add modal to rm notebook
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.dashboard.gi.stop-notebook): modal to stop notebook
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/stop-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/stop-notebook/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(prj.notebooks.dashboard.gi.start-notebook): modal to start notebook
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/start-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/start-notebook/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

build(uirouter): add test app
  packages/manager/apps/test/.eslintrc.json
  packages/manager/apps/test/README.md
  packages/manager/apps/test/package.json
  packages/manager/apps/test/src/app.module.js
  packages/manager/apps/test/src/error/error.module.js
  packages/manager/apps/test/src/error/error.routing.js
  packages/manager/apps/test/src/error/index.js
  packages/manager/apps/test/src/index.html
  packages/manager/apps/test/src/index.js
  packages/manager/apps/test/src/routeA/index.js
  packages/manager/apps/test/src/routeA/routeA.module.js
  packages/manager/apps/test/src/routeA/routeB/index.js
  packages/manager/apps/test/src/routeA/routeB/routeB.module.js
  packages/manager/apps/test/src/routeA/routeB/routeC/index.js
  packages/manager/apps/test/src/routeA/routeB/routeC/routeC.module.js
  packages/manager/apps/test/src/routes.js
  packages/manager/apps/test/webpack.config.js
  yarn.lock
Labels: dependencies

fix(test): wip
  packages/manager/apps/test/src/routes.js
Labels: none

feat(*): preloader test
  packages/manager/apps/dedicated/client/app/app.module.js
  packages/manager/apps/dedicated/client/app/index.js
  packages/manager/apps/web/client/app/app.module.js
  packages/manager/apps/web/client/app/index.js
Labels: none

feat(pci.quota): increase quota by buying credits
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.component.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.controller.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.html
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.module.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.routing.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/increase-request.service.js
  packages/manager/modules/pci/src/projects/project/quota/increase-request/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(billing-components): add user contract service
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/contract/index.js
  packages/manager/apps/dedicated/client/app/dedicatedUniverseComponents/index.js
  packages/manager/apps/dedicated/client/app/user-contracts/index.js
  packages/manager/apps/dedicated/client/app/user-contracts/modal/user-contracts-accept.controller.js
  packages/manager/apps/dedicated/client/app/user-contracts/user-contracts.controller.js
  packages/manager/modules/billing-components/package.json
  packages/manager/modules/billing-components/src/components/contract/contract.service.js
  packages/manager/modules/billing-components/src/components/contract/index.js
  packages/manager/modules/billing-components/src/index.js
  packages/manager/modules/billing/src/autoRenew/autorenew.service.js
Labels: dependencies

fix(billing): remove unused constants
  packages/manager/modules/billing/src/autoRenew/agreements/user-agreements.service.js
  packages/manager/modules/billing/src/autoRenew/ssh/user-ssh.controller.js
Labels: none

fix(billing): add constants
  packages/manager/modules/billing/src/autoRenew/actions/delete/delete.routing.js
  packages/manager/modules/billing/src/constants/billing.constants.js
  packages/manager/modules/billing/src/orders/billing-orders.controller.js
Labels: none

fix(billing): set currentUser to coreConfig user
  packages/manager/modules/billing/src/billing.routing.js
Labels: none

fix(billing): add missing dependencies
  packages/manager/modules/billing/package.json
  packages/manager/modules/billing/src/autoRenew/ssh/ssh.module.js
  packages/manager/modules/billing/src/billing.module.js
Labels: dependencies

fix(billing): make module standlone
  packages/manager/modules/billing/package.json
  packages/manager/modules/billing/src/billing.less
  packages/manager/modules/billing/src/billing.module.js
  packages/manager/modules/billing/src/billing.scss
  packages/manager/modules/billing/src/translations/Messages_fr_FR.json
Labels: dependencies, translation required

feat(manager-billing-app): initial import
  packages/manager/apps/billing/.eslintrc.json
  packages/manager/apps/billing/package.json
  packages/manager/apps/billing/src/app.module.js
  packages/manager/apps/billing/src/assets/images/favicon.png
  packages/manager/apps/billing/src/assets/images/touchicon-180.png
  packages/manager/apps/billing/src/assets/theme/index.scss
  packages/manager/apps/billing/src/assets/theme/typography.scss
  packages/manager/apps/billing/src/index.html
  packages/manager/apps/billing/src/index.js
  packages/manager/apps/billing/webpack.config.js
  packages/manager/modules/billing/package.json
  packages/manager/modules/billing/src/billing.routing.js
  packages/manager/modules/billing/src/payment/ovhAccount/billing-ovhAccount.module.js
  packages/manager/modules/billing/src/translations/Messages_fr_FR.json
Labels: dependencies, translation required

build(*): update @ovh-ux/manager-billing dep
  packages/manager/apps/billing/package.json
  packages/manager/apps/dedicated/package.json
Labels: dependencies
