Repository ovh-ux/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: continous-integration, dependencies, documentation, tests, translation required, univers-public-cloud, universe-hosted-private-cloud, universe-hub

.github/labeler.yml:

build:
  - packages/manager/tools/!(testcafe)/**
continous-integration:
  - .github/**
dependencies:
  - ./**/package.json
documentation:
  - docs/**
tests:
  - packages/manager/tools/testcafe/**
translation required:
  - packages/**/Messages_fr_FR.json
univers-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**

fix(telephony): ccs screenlist conditions remove
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.factory.js
  packages/manager/modules/telecom-universe-components/src/telecom/telephony/screen/screenList/telephony-screen-list.factory.js
Labels: none

fix(telephony): css tts add
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
Labels: none

fix(ccs): link popover to dropdown button
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/entry.html
Labels: none

fix(telephony): add reordering to ccs
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-vertical.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.component.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/translations/Messages_fr_FR.json
Labels: translation required

fix(telecom): ovhPabx scheduler link
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
Labels: translation required

fix(telecom): ovhPabx tts link
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
Labels: translation required

fix(telecom): ovhPabx hunting queues link
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
Labels: translation required

fix(telecom): add ccs layout user prefs
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
Labels: none

fix(telecom): ovhPabx breadcrumb translation
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_pt_PT.json
Labels: translation required

fix(telecom): fix ovhPabx scheduler popup placement
  packages/manager/apps/telecom/src/components/telecom/telephony/scheduler/scheduler.directive.js
Labels: none

fix(telecom): dialplan ccs delete undefined
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
Labels: none

fix(telecom): svi vxml
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/svi/svi.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.html
Labels: none

fix(telecom): ovhPabx menu edit radio button
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/edit/edit.html
Labels: none

fix(telecom): fix empty tag position
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-vertical.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
Labels: none

fix(telecom): fix ccs main block position horizontal
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
Labels: none

fix(telecom): ovhPabx radio buttons
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/edit/edit.html
Labels: none

fix(telecom): svi url update
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/svi/svi.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
Labels: none

fix(telecom): add ccs display options dropdown
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/translations/Messages_fr_FR.json
Labels: translation required

fix(telecom): add ccs guides
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/ovh-pabx.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/menus/menus.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/menus/menus.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/sounds.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/sounds.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/tts.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/tts.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/guides.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_fr_FR.json
Labels: translation required

fix(telecom): ccs terminal action label
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
Labels: translation required

fix(telecom): add alias records queue description
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/records/records.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/alias/records/records.html
Labels: none

fix(telecom): add scheduler & queues guides
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/ovh-pabx.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/scheduler/ovhPabx/ovh-pabx.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/scheduler/ovhPabx/ovh-pabx.html
Labels: none

fix(telecom): ccs extensions order integrity
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.factory.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
Labels: none

fix(i18n): add missing translations [CDS 988]
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_en_GB.json
Labels: none

fix(i18n): add missing translations [CDS 981]
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/translations/Messages_fr_CA.json
Labels: none

fix(telecom): add missing ccs imports
  packages/manager/apps/telecom/src/app/app.module.js
Labels: none

feat(ts): upgrade typescript version
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-dev-server/package.json
  yarn.lock
Labels: dependencies

build(deps): remove typescript
  packages/manager/tools/component-rollup-config/package.json
  packages/manager/tools/component-rollup-config/src/index.js
  packages/manager/tools/component-rollup-config/src/plugins/common/index.js
  packages/manager/tools/component-rollup-config/src/plugins/translation-inject.js
  packages/manager/tools/component-rollup-config/src/plugins/translation-ui-router.js
  packages/manager/tools/component-rollup-config/src/plugins/translation-utils.js
  packages/manager/tools/component-rollup-config/tsconfig.json
  packages/manager/tools/webpack-config/package.json
  packages/manager/tools/webpack-config/src/index.js
  packages/manager/tools/webpack-config/src/loaders/translation-inject.js
  packages/manager/tools/webpack-config/src/loaders/translation-inject.ts
  packages/manager/tools/webpack-config/src/loaders/translation-json.js
  packages/manager/tools/webpack-config/src/loaders/translation-json.ts
  packages/manager/tools/webpack-config/src/loaders/translation-ui-router.js
  packages/manager/tools/webpack-config/src/loaders/translation-ui-router.ts
  packages/manager/tools/webpack-config/src/webpack.common.js
  packages/manager/tools/webpack-config/src/webpack.prod.js
  packages/manager/tools/webpack-config/tsconfig.json
  packages/manager/tools/webpack-dev-server/package.json
  packages/manager/tools/webpack-dev-server/src/config.js
  packages/manager/tools/webpack-dev-server/src/index.js
  packages/manager/tools/webpack-dev-server/src/index.ts
  packages/manager/tools/webpack-dev-server/tsconfig.json
  yarn.lock
Labels: dependencies

fix(eslint): remove eslintrc
  packages/manager/tools/component-rollup-config/.eslintrc.js
  packages/manager/tools/webpack-config/.eslintrc.js
  packages/manager/tools/webpack-dev-server/.eslintrc.js
Labels: none

fix(deps): correct lock file
  packages/manager/tools/component-rollup-config/package.json
  yarn.lock
Labels: dependencies

fix(lock): update lockfile
  yarn.lock
Labels: none

fix(lock): fix lock file
  yarn.lock
Labels: none

fix(deps): fix lock file
  yarn.lock
Labels: none

fix(account-sidebar): correct type
  packages/manager/fragments/account-sidebar/src/components/AccountSidebarUserInfos.vue
Labels: none

feat(account-sidebar): remove unused code
  packages/manager/fragments/account-sidebar/src/components/AccountSidebarPayment.vue
  packages/manager/fragments/account-sidebar/src/utils/paymentMeans.ts
Labels: none

feat(account-sidebar): add payment mean logic
  packages/manager/fragments/account-sidebar/package.json
  packages/manager/fragments/account-sidebar/src/components/AccountSidebar.vue
  packages/manager/fragments/account-sidebar/src/components/AccountSidebarPayment.vue
  packages/manager/fragments/account-sidebar/src/components/AccountSidebarPaymentSkeleton.vue
  packages/manager/fragments/account-sidebar/src/models/payment.ts
  packages/manager/fragments/account-sidebar/src/styles/account-sidebar-payment.scss
  packages/manager/fragments/account-sidebar/src/utils/paymentMeans.ts
Labels: dependencies

fix(hub-next): fix environment singleton
  packages/manager/fragments/account-sidebar/src/components/AccountSidebar.vue
  packages/manager/fragments/account-sidebar/src/main.ts
Labels: none

fix(deps): update deps
  packages/manager/fragments/account-sidebar/package.json
  yarn.lock
Labels: dependencies

fix(account-sidebar): fix env type
  packages/manager/fragments/account-sidebar/src/components/AccountSidebar.vue
Labels: none

fix(environment): fix env issues
  packages/manager/fragments/account-sidebar/package.json
  packages/manager/fragments/account-sidebar/src/components/AccountSidebar.vue
  packages/manager/fragments/account-sidebar/src/main.ts
  packages/manager/fragments/account-sidebar/src/models/environment.d.ts
  packages/manager/fragments/account-sidebar/src/models/user.ts
  packages/manager/fragments/account-sidebar/src/utils/panelLinks.js
  packages/manager/fragments/account-sidebar/src/utils/redirectionService.js
Labels: dependencies
