Repository ovh-ux/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: continous-integration, dependencies, documentation, tests, translation required, univers-public-cloud, universe-hosted-private-cloud, universe-hub

fix(public-cloud): fix review comments
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
Labels: univers-public-cloud

feat(public-cloud): support discovery instances
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.constants.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.html
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.service.js
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

fix(i18n): add missing translations [CDS 846]
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/components/project/flavors-list/translations/Messages_pt_PT.json
Labels: univers-public-cloud

feat(hub-react): initial commit
  packages/manager/apps/hub-react/.eslintrc.js
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hub-react/src/app.jsx
  packages/manager/apps/hub-react/src/app.module.scss
  packages/manager/apps/hub-react/src/index.html
  packages/manager/apps/hub-react/src/index.js
  packages/manager/apps/hub-react/src/me.jsx
  packages/manager/apps/hub-react/vite.config.js
  yarn.lock
Labels: dependencies

feat(cloud.project.ai.training): handle cpu jobs
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Labels: translation required, univers-public-cloud

feat(cloud.project.ai.training): rework job submit data step
  packages/manager/modules/pci/src/projects/project/training/command_line_converter.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.module.js
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Labels: translation required, univers-public-cloud

feat(cloud.project.ai.training): reword cache tooltip
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(cloud.project.ai.training): update catalog entry id
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.routing.js
Labels: univers-public-cloud

feat(cloud.project.ai.training): post review changes
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

fix(i18n): add missing translations [CDS 925]
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_pt_PT.json
Labels: univers-public-cloud

feat(cloud.project.ai.training): resource get verb
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Labels: univers-public-cloud

feat(cloud.project.ai.training): rework cache + prefix
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
Labels: univers-public-cloud

feat(cloud.project.ai.training): log
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
Labels: univers-public-cloud

fix(public-cloud): flavour disk size is showing as undefined
  packages/manager/modules/pci/src/components/project/flavors-list/flavors-list.controller.js
Labels: univers-public-cloud

feat(hub-react): billing services component
  packages/manager/apps/hub-react/.eslintrc.js
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hub-react/src/api-connector/axios.js
  packages/manager/apps/hub-react/src/api-connector/index.js
  packages/manager/apps/hub-react/src/app.jsx
  packages/manager/apps/hub-react/src/app.module.scss
  packages/manager/apps/hub-react/src/app.scss
  packages/manager/apps/hub-react/src/components/billing/services/date.jsx
  packages/manager/apps/hub-react/src/components/billing/services/index.jsx
  packages/manager/apps/hub-react/src/components/billing/services/status.jsx
  packages/manager/apps/hub-react/src/components/billing/services/translations/billing-services-fr_FR.json
  packages/manager/apps/hub-react/src/components/billing/services/translations/index.js
  packages/manager/apps/hub-react/src/datasource/billing/services/index.js
  packages/manager/apps/hub-react/src/index.html
  packages/manager/apps/hub-react/src/index.js
  packages/manager/apps/hub-react/src/me.jsx
  packages/manager/apps/hub-react/vite.config.js
  packages/manager/modules/models/BillingService/BillingService.class.js
  yarn.lock
Labels: dependencies

feat(hub-react): last order component
  packages/manager/apps/hub-react/src/app.jsx
  packages/manager/apps/hub-react/src/components/orders/tracking/index.jsx
  packages/manager/apps/hub-react/src/components/orders/tracking/translations/index.js
  packages/manager/apps/hub-react/src/components/orders/tracking/translations/orders-tracking-fr_FR.json
  packages/manager/apps/hub-react/src/context.js
  packages/manager/apps/hub-react/src/datasource/orders/index.js
  packages/manager/apps/hub-react/src/index.js
Labels: none

feat(hub-react): add welcome component
  packages/manager/apps/hub-react/src/app.jsx
  packages/manager/apps/hub-react/src/components/hub/welcome/index.jsx
  packages/manager/apps/hub-react/src/components/hub/welcome/translations/hub-welcome-fr_FR.json
  packages/manager/apps/hub-react/src/components/hub/welcome/translations/index.js
  packages/manager/apps/hub-react/src/components/orders/tracking/index.jsx
  packages/manager/apps/hub-react/src/components/orders/tracking/index.module.scss
Labels: none

feat(hub-react): use i18next-http-backend & react suspense
  packages/manager/apps/hub-react/package.json
  packages/manager/apps/hub-react/src/app.jsx
  packages/manager/apps/hub-react/src/components/billing/services/date.jsx
  packages/manager/apps/hub-react/src/components/billing/services/index.jsx
  packages/manager/apps/hub-react/src/components/billing/services/status.jsx
  packages/manager/apps/hub-react/src/components/billing/services/translations/index.js
  packages/manager/apps/hub-react/src/components/hub/welcome/index.jsx
  packages/manager/apps/hub-react/src/components/hub/welcome/translations/index.js
  packages/manager/apps/hub-react/src/components/orders/tracking/index.jsx
  packages/manager/apps/hub-react/src/components/orders/tracking/translations/index.js
  packages/manager/apps/hub-react/src/dashboard.jsx
  packages/manager/apps/hub-react/src/index.js
  packages/manager/apps/hub-react/src/public/translations/billing-services/fr_FR.json
  packages/manager/apps/hub-react/src/public/translations/orders-tracking/fr_FR.json
  packages/manager/apps/hub-react/src/public/translations/welcome/fr_FR.json
  yarn.lock
Labels: dependencies

fix(telecom): on transition error log
  packages/manager/apps/telecom/src/app/app.module.js
  packages/manager/modules/telecom-universe-components/src/telecom/pack/pack-mediator.service.js
Labels: none

fix(billing.payment.method): fix callback delete after page loaded
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/component.js
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/index.html
  packages/manager/apps/dedicated/client/app/billing/payment/method/add/routing.js
Labels: none

fix(ng-ovh-order-tracking): improve refused message details
  packages/manager/modules/ng-ovh-order-tracking/CHANGELOG.md
  packages/manager/modules/ng-ovh-order-tracking/LICENSE
  packages/manager/modules/ng-ovh-order-tracking/README.md
  packages/manager/modules/ng-ovh-order-tracking/package.json
  packages/manager/modules/ng-ovh-order-tracking/rollup.config.js
  packages/manager/modules/ng-ovh-order-tracking/src/index.js
  packages/manager/modules/ng-ovh-order-tracking/src/index.scss
  packages/manager/modules/ng-ovh-order-tracking/src/order-tracking.component.js
  packages/manager/modules/ng-ovh-order-tracking/src/order-tracking.constants.js
  packages/manager/modules/ng-ovh-order-tracking/src/order-tracking.controller.js
  packages/manager/modules/ng-ovh-order-tracking/src/order-tracking.html
  packages/manager/modules/ng-ovh-order-tracking/src/order-tracking.service.js
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_de_DE.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_en_GB.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_es_ES.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_fr_CA.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_fr_FR.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_it_IT.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_pl_PL.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_pt_PT.json
Labels: dependencies, translation required

fix(deps): bump ng-ovh-order-tracking to version 2.0.0
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/freefax/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/order-tracking/package.json
  packages/manager/apps/web/package.json
  packages/manager/modules/account-sidebar/package.json
  packages/manager/modules/hub/package.json
Labels: dependencies, universe-hub

fix(i18n): add missing translations [CDS 983]
  packages/manager/modules/exchange/src/dashboard/translations/Messages_en_GB.json
Labels: none

fix(i18n): add missing translations [CDS 980]
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_de_DE.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_en_GB.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_es_ES.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_fr_CA.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_it_IT.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_pl_PL.json
  packages/manager/modules/ng-ovh-order-tracking/src/translations/Messages_pt_PT.json
Labels: none

fix(i18n): add missing translations [CDS 986]
  packages/manager/modules/billing/src/components/split-payment/translations/Messages_es_ES.json
  packages/manager/modules/billing/src/components/split-payment/translations/Messages_pt_PT.json
Labels: none

feat(component.group.number): rework on contact center solution
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/edit/edit.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.factory.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/index.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/ovh-pabx.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/variables.less
Labels: translation required

feat(telephony.ccs): update from feedback comment
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
Labels: none

feat(ccs): update code from feedback comments
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/edit/edit.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.controller.js
Labels: none

fix(telephony.ccs): rollback on action displays
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.html
Labels: none

feat(ccs): remove useless display flex
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
Labels: none

fix(telecom): dialplan less refactoring, dropdown auto scroll
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/alias.main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/configuration.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/menus/menus.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/components/popover/index.js
  packages/manager/apps/telecom/src/components/popover/popover-autofocus.directive.js
  packages/manager/apps/telecom/src/components/popover/popover-on-outside-click.directive.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-horizontal.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan-vertical.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/edit/edit.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/index.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/menu.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/menu.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.html
  packages/manager/apps/telecom/src/components/uib-dropdown-helper/autoscroll-on-toggle.provider.js
  packages/manager/apps/telecom/src/components/uib-dropdown-helper/index.js
Labels: translation required

fix(telecom): css fixes and improvements
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/sounds.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_de_DE.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_en_GB.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_es_ES.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_it_IT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_pl_PL.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/sounds/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/translations/Messages_es_US.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/translations/Messages_fr_CA.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/translations/Messages_pt_PT.json
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/ovhPabx/tts/tts.html
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/queues/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.less
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/list/list.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/menu.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/sound/list/list.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/sound/popover-section/popover-section.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
  packages/manager/modules/telecom-styles/src/telecom/common.less
  packages/manager/modules/telecom-styles/src/telecom/popover.less
  packages/manager/modules/telecom-universe-components/src/input-file/input-file.html
Labels: translation required

feat(telecom): add ccs tracking
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/configuration.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/records/ovhPabx/ovh-pabx.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/stats/ovhPabx/ovh-pabx.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/extension.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/number.html
Labels: none

fix(telecom): ccs step advanced config improvements
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
Labels: none

fix(telecom): remove ccs popover transition issues
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/rule.controller.js
Labels: none

fix(telecom): popover outside click improvements
  packages/manager/apps/telecom/src/components/popover/popover-on-outside-click.directive.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.controller.js
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/edit/edit.html
Labels: none

fix(telecom): ovhPabx menu state
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.controller.js
Labels: none

fix(telecom): svi radio button
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/menu/entry/edit/edit.html
Labels: none

fix(telecom): add ccs dtmf info message
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/edit.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/translations/Messages_fr_FR.json
Labels: translation required

fix(telecom): add ovhPabx aria attributes
  packages/manager/apps/telecom/src/app/telecom/telephony/alias/configuration/agents/ovhPabx/ovh-pabx.html
  packages/manager/apps/telecom/src/components/telecom/telephony/group/number/feature/ovhPabx/dialplan/dialplan.html
Labels: none

.github/labeler.yml:

build:
  - packages/manager/tools/!(testcafe)/**
continous-integration:
  - .github/**
dependencies:
  - ./**/package.json
documentation:
  - docs/**
tests:
  - packages/manager/tools/testcafe/**
translation required:
  - packages/**/Messages_fr_FR.json
univers-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
