Repository ovh-ux/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: continous-integration, dependencies, documentation, tests, translation required, univers-public-cloud, universe-hosted-private-cloud, universe-hub

feat(pci/ai-training): add field name into oui-field
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(pci/ai-training): fix job pull + traduction issue
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
Labels: univers-public-cloud

feat(pci/ai-training): fix traduction for ssd and network
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(pci): pr fixes
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(vps): fix issues
  packages/manager/modules/vps/src/dashboard/migrate/migrate.html
  packages/manager/modules/vps/src/dashboard/migrate/translations/Messages_fr_FR.json
  packages/manager/modules/vps/src/dashboard/vps-dashboard.html
  packages/manager/modules/vps/src/index.js
Labels: translation required

feat(dedicated): enable veeam enterprise order for US
  packages/manager/modules/server-sidebar/src/order.constants.js
Labels: none

feat(shell): add app shell
  packages/manager/apps/shell/.eslintrc.json
  packages/manager/apps/shell/package.json
  packages/manager/apps/shell/src/assets/images/favicon.png
  packages/manager/apps/shell/src/assets/images/touchicon-180.png
  packages/manager/apps/shell/src/assets/theme/index.scss
  packages/manager/apps/shell/src/assets/theme/typography.scss
  packages/manager/apps/shell/src/config-dev.js
  packages/manager/apps/shell/src/config-prod.js
  packages/manager/apps/shell/src/index.html
  packages/manager/apps/shell/src/index.js
  packages/manager/apps/shell/webpack.config.js
Labels: dependencies

feat(shell): add shell application library
  packages/manager/modules/shell/LICENSE
  packages/manager/modules/shell/package.json
  packages/manager/modules/shell/rollup.config.js
  packages/manager/modules/shell/src/index-dev.js
  packages/manager/modules/shell/src/index-prod.js
  packages/manager/modules/shell/src/index.js
Labels: dependencies

feat(ng-ovh-sso-auth): handle app shell
  packages/components/ng-ovh-sso-auth/src/provider.js
Labels: none

feat(manager-config): handle app shell
  packages/manager/modules/config/src/index.js
Labels: none

feat(*): add app shell library to applications
  packages/manager/apps/dedicated/client/app/index.js
  packages/manager/apps/dedicated/package.json
  packages/manager/apps/hub/package.json
  packages/manager/apps/hub/src/index.js
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/index.js
  packages/manager/apps/telecom/package.json
  packages/manager/apps/telecom/src/app/index.js
  packages/manager/apps/web/client/app/index.js
  packages/manager/apps/web/package.json
Labels: dependencies, univers-public-cloud, universe-hub

feat(navbar): change URL for testing purposes
  packages/manager/modules/navbar/src/controller.js
Labels: none

refactor(*): move netboot to bm server components module
  packages/manager/apps/dedicated/client/app/dedicated/dedicated.bundle.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/details/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/details/server.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/dedicated-server-netboot.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/dedicated-server-netboot.html
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/template.html
  packages/manager/apps/dedicated/client/app/dedicated/server/netboot/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/netboot/component.js
  packages/manager/modules/bm-server-components/src/netboot/controller.js
  packages/manager/modules/bm-server-components/src/netboot/index.js
  packages/manager/modules/bm-server-components/src/netboot/service.js
  packages/manager/modules/bm-server-components/src/netboot/template.html
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_lt_LT.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/netboot/translations/Messages_pt_PT.json
Labels: translation required

refactor(*): move dedicated server general info tile to a separate module
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/modules/bm-server-components/src/general-info-tile/component.js
  packages/manager/modules/bm-server-components/src/general-info-tile/controller.js
  packages/manager/modules/bm-server-components/src/general-info-tile/index.js
  packages/manager/modules/bm-server-components/src/general-info-tile/template.html
  packages/manager/modules/bm-server-components/src/general-info-tile/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/index.js
Labels: translation required

refactor(*): move dedicated server network tile to separate module
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/network-tile/component.js
  packages/manager/modules/bm-server-components/src/network-tile/controller.js
  packages/manager/modules/bm-server-components/src/network-tile/index.js
  packages/manager/modules/bm-server-components/src/network-tile/template.html
  packages/manager/modules/bm-server-components/src/network-tile/translations/Messages_fr_FR.json
Labels: translation required

refactor(*): move dedicated server hardware tile to a separate module
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/modules/bm-server-components/src/general-info-tile/index.js
  packages/manager/modules/bm-server-components/src/index.js
  packages/manager/modules/bm-server-components/src/technical-details/index.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.component.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.controller.js
  packages/manager/modules/bm-server-components/src/technical-details/technical-details.html
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_de_DE.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_en_GB.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_es_ES.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_fr_CA.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_fr_FR.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_it_IT.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_pl_PL.json
  packages/manager/modules/bm-server-components/src/technical-details/translations/Messages_pt_PT.json
Labels: translation required

feat(dashboard): update list for new options (#5227)
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: translation required, univers-public-cloud

feat: add cucumber bdd
  packages/manager/tools/cucumber-testcafe-ui/.testcaferc.json
  packages/manager/tools/cucumber-testcafe-ui/package-lock.json
  packages/manager/tools/cucumber-testcafe-ui/package.json
  packages/manager/tools/cucumber-testcafe-ui/tests/basic.feature
  packages/manager/tools/cucumber-testcafe-ui/tests/page-model/basic.js
  packages/manager/tools/cucumber-testcafe-ui/tests/page-model/test-main-page.js
  packages/manager/tools/cucumber-testcafe-ui/tests/page-model/test-page-example.js
  packages/manager/tools/cucumber-testcafe-ui/tests/test-example.feature
  packages/manager/tools/cucumber-testcafe-ui/tests/test-main-page.feature
Labels: dependencies

Revert "refactor(sso-auth): remove usage of "jQuery""
  packages/components/ng-ovh-sso-auth/package.json
  packages/components/ng-ovh-sso-auth/src/provider.js
Labels: dependencies

Revert "refactor(sso-auth-modal): remove usage of "jQuery""
  packages/components/ng-ovh-sso-auth-modal-plugin/package.json
  packages/components/ng-ovh-sso-auth-modal-plugin/src/controller.js
Labels: dependencies

Revert "refactor(ssoh-auth-modal): remove usage of "lodash""
  packages/components/ng-ovh-sso-auth-modal-plugin/package.json
  packages/components/ng-ovh-sso-auth-modal-plugin/src/index.js
Labels: dependencies

fix(ng-ovh-sso-auth-modal-plugin): set latest deps versions
  packages/components/ng-ovh-sso-auth-modal-plugin/package.json
Labels: dependencies

.github/labeler.yml:

build:
  - packages/manager/tools/!(testcafe)/**
continous-integration:
  - .github/**
dependencies:
  - ./**/package.json
documentation:
  - docs/**
tests:
  - packages/manager/tools/testcafe/**
translation required:
  - packages/**/Messages_fr_FR.json
univers-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
