Repository ovh-ux/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: continous-integration, dependencies, documentation, tests, translation required, univers-public-cloud, universe-hosted-private-cloud, universe-hub

feat(*): test external dep
  packages/manager/apps/hub/src/index.html
  packages/manager/apps/hub/webpack.config.js
  packages/manager/apps/libs/angular.min.js
  packages/manager/apps/libs/package.json
Labels: dependencies, universe-hub

feat(region): add region selector component
  packages/manager/modules/manager-components/src/region/README.md
  packages/manager/modules/manager-components/src/region/component.js
  packages/manager/modules/manager-components/src/region/constants.js
  packages/manager/modules/manager-components/src/region/controller.js
  packages/manager/modules/manager-components/src/region/index.js
  packages/manager/modules/manager-components/src/region/index.scss
  packages/manager/modules/manager-components/src/region/service.js
  packages/manager/modules/manager-components/src/region/template.html
Labels: none

fix: update lazyloading and state order
  packages/manager/modules/netapp/src/index.js
  packages/manager/modules/netapp/src/routing.js
Labels: none

feat(order): wip
  packages/manager/modules/netapp/package.json
  packages/manager/modules/netapp/src/module.js
  packages/manager/modules/netapp/src/order/component.js
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/index.js
  packages/manager/modules/netapp/src/order/module.js
  packages/manager/modules/netapp/src/order/routing.js
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_de_DE.json
  packages/manager/modules/netapp/src/order/translations/Messages_en_GB.json
  packages/manager/modules/netapp/src/order/translations/Messages_es_ES.json
  packages/manager/modules/netapp/src/order/translations/Messages_fr_CA.json
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/order/translations/Messages_it_IT.json
  packages/manager/modules/netapp/src/order/translations/Messages_pl_PL.json
  packages/manager/modules/netapp/src/order/translations/Messages_pt_PT.json
Labels: dependencies, translation required

feat(order): wip
  packages/manager/apps/netapp/package.json
  packages/manager/modules/netapp/package.json
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/module.js
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
  yarn.lock
Labels: dependencies, translation required

feat(types): add typescript to ufrontend and manager config
  package.json
  packages/manager/modules/config/.eslintrc.js
  packages/manager/modules/config/package.json
  packages/manager/modules/config/rollup.config.js
  packages/manager/modules/config/src/environment/environment.constants.js
  packages/manager/modules/config/src/environment/environment.constants.ts
  packages/manager/modules/config/src/environment/environment.service.js
  packages/manager/modules/config/src/environment/environment.ts
  packages/manager/modules/config/src/environment/index.js
  packages/manager/modules/config/src/environment/index.ts
  packages/manager/modules/config/src/index.js
  packages/manager/modules/config/src/index.ts
  packages/manager/modules/config/src/locale/index.ts
  packages/manager/modules/config/src/locale/locale.constants.ts
  packages/manager/modules/config/src/types/configuration.ts
  packages/manager/modules/config/src/types/navigator.d.ts
  packages/manager/modules/config/src/types/ovhLanguages.ts
  packages/manager/modules/config/src/types/user.ts
  packages/manager/modules/config/tsconfig.json
  packages/manager/modules/ufrontend/.eslintrc.js
  packages/manager/modules/ufrontend/application.ts
  packages/manager/modules/ufrontend/communication.js
  packages/manager/modules/ufrontend/communication.ts
  packages/manager/modules/ufrontend/fragment.ts
  packages/manager/modules/ufrontend/package.json
  packages/manager/modules/ufrontend/src/api.application.class.js
  packages/manager/modules/ufrontend/src/api.application.class.ts
  packages/manager/modules/ufrontend/src/api.base.class.js
  packages/manager/modules/ufrontend/src/api.base.class.ts
  packages/manager/modules/ufrontend/src/api.fragment.class.js
  packages/manager/modules/ufrontend/src/api.fragment.class.ts
  packages/manager/modules/ufrontend/src/fragment.class.ts
  packages/manager/modules/ufrontend/src/framework.class.ts
  packages/manager/modules/ufrontend/src/ufrontend.d.ts
  packages/manager/modules/ufrontend/src/utils/deferred.class.js
  packages/manager/modules/ufrontend/src/utils/deferred.class.ts
  packages/manager/modules/ufrontend/tsconfig.json
  packages/manager/modules/ufrontend/url-builder.ts
  yarn.lock
Labels: dependencies

fix(ufrontend): fix deferred class
  packages/manager/modules/ufrontend/src/utils/deferred.class.ts
Labels: none

fix(ufrontend): correct Window interface usage
  packages/manager/modules/ufrontend/application.ts
  packages/manager/modules/ufrontend/communication.ts
  packages/manager/modules/ufrontend/fragment.ts
  packages/manager/modules/ufrontend/src/fragment.class.ts
  packages/manager/modules/ufrontend/src/ufrontend.d.ts
Labels: none

fix(eslint): correct eslint config
  packages/manager/apps/web-paas/src/index.js
  packages/manager/modules/config/.eslintrc.js
  packages/manager/modules/config/package.json
  packages/manager/modules/config/src/environment/environment.constants.ts
  packages/manager/modules/config/src/index.ts
  packages/manager/modules/config/src/locale/index.ts
  packages/manager/modules/config/src/locale/locale.constants.ts
  packages/manager/modules/config/src/types/configuration.ts
  packages/manager/modules/config/src/types/navigator.d.ts
  packages/manager/modules/config/src/types/ovhLanguages.ts
  packages/manager/modules/config/src/types/user.ts
  packages/manager/modules/config/tsconfig.json
  packages/manager/modules/ufrontend/.eslintrc.js
  packages/manager/modules/ufrontend/README.md
  packages/manager/modules/ufrontend/application.ts
  packages/manager/modules/ufrontend/communication.ts
  packages/manager/modules/ufrontend/fragment.ts
  packages/manager/modules/ufrontend/src/api.base.class.ts
  packages/manager/modules/ufrontend/src/api.fragment.class.ts
  packages/manager/modules/ufrontend/src/fragment.class.ts
  packages/manager/modules/ufrontend/src/framework.class.ts
  packages/manager/modules/ufrontend/src/ufrontend.d.ts
Labels: dependencies

feat(langs): add languages to types
  packages/manager/modules/config/src/types/ovhLanguages.ts
  packages/manager/modules/ufrontend/communication.ts
  packages/manager/modules/ufrontend/src/framework.class.ts
  packages/manager/modules/ufrontend/src/utils/deferred.class.ts
Labels: none

fix(eslint): fix eslint config and remove old languages
  packages/manager/modules/config/.eslintrc.js
  packages/manager/modules/config/src/environment/environment.ts
  packages/manager/modules/config/src/types/ovhLanguages.ts
  packages/manager/modules/ufrontend/.eslintrc.js
  packages/manager/modules/ufrontend/src/framework.class.ts
  packages/manager/modules/ufrontend/url-builder.ts
Labels: none

build: add build script on two public packages
  packages/components/ovh-payment-method/package.json
  packages/components/ovh-reket/package.json
  packages/components/ovh-reket/rollup.config.js
Labels: dependencies

docs(ovh-reket): improve README
  packages/components/ovh-reket/README.md
Labels: none

feat(ovh-payment-method): create ovh-reket
  packages/manager/modules/ovh-reket/CHANGELOG.md
  packages/manager/modules/ovh-reket/README.md
  packages/manager/modules/ovh-reket/package.json
  packages/manager/modules/ovh-reket/src/constants.js
  packages/manager/modules/ovh-reket/src/index.js
  packages/manager/modules/ovh-reket/src/redirections.js
Labels: dependencies

feat(config): use ovh-reket in config
  packages/manager/modules/config/package.json
  packages/manager/modules/config/src/index.js
Labels: dependencies

docs: add documentation
  packages/components/ng-ovh-payment-method/README.md
  packages/manager/modules/ovh-payment-method/README.md
  packages/manager/modules/ovh-reket/README.md
Labels: none

feat: create ovh-payment-method
  packages/manager/modules/ovh-payment-method/CHANGELOG.md
  packages/manager/modules/ovh-payment-method/README.md
  packages/manager/modules/ovh-payment-method/package.json
  packages/manager/modules/ovh-payment-method/rollup.config.js
  packages/manager/modules/ovh-payment-method/src/constants.js
  packages/manager/modules/ovh-payment-method/src/enums/index.js
  packages/manager/modules/ovh-payment-method/src/enums/payment-mean.enum.js
  packages/manager/modules/ovh-payment-method/src/enums/payment-method.enum.js
  packages/manager/modules/ovh-payment-method/src/index.js
  packages/manager/modules/ovh-payment-method/src/models/available-payment-method.class.js
  packages/manager/modules/ovh-payment-method/src/models/index.js
  packages/manager/modules/ovh-payment-method/src/models/payment-mean/available-payment-mean.class.js
  packages/manager/modules/ovh-payment-method/src/models/payment-mean/index.js
  packages/manager/modules/ovh-payment-method/src/models/payment-mean/payment-mean-bank-account.class.js
  packages/manager/modules/ovh-payment-method/src/models/payment-mean/payment-mean-credit-card.class.js
  packages/manager/modules/ovh-payment-method/src/models/payment-mean/payment-mean-deferred-payment-account.class.js
  packages/manager/modules/ovh-payment-method/src/models/payment-mean/payment-mean-paypal.class.js
  packages/manager/modules/ovh-payment-method/src/models/payment-mean/payment-mean.class.js
  packages/manager/modules/ovh-payment-method/src/models/payment-method-type.class.js
  packages/manager/modules/ovh-payment-method/src/models/payment-method.class.js
  packages/manager/modules/ovh-payment-method/src/ovh-payment-mean.js
  packages/manager/modules/ovh-payment-method/src/ovh-payment-method.js
Labels: dependencies

fix: set ovh-payment-method and ovh-reket as public packages
  packages/components/ovh-payment-method/CHANGELOG.md
  packages/components/ovh-payment-method/README.md
  packages/components/ovh-payment-method/package.json
  packages/components/ovh-payment-method/rollup.config.js
  packages/components/ovh-payment-method/src/constants.js
  packages/components/ovh-payment-method/src/enums/index.js
  packages/components/ovh-payment-method/src/enums/payment-mean.enum.js
  packages/components/ovh-payment-method/src/enums/payment-method.enum.js
  packages/components/ovh-payment-method/src/index.js
  packages/components/ovh-payment-method/src/models/available-payment-method.class.js
  packages/components/ovh-payment-method/src/models/index.js
  packages/components/ovh-payment-method/src/models/payment-mean/available-payment-mean.class.js
  packages/components/ovh-payment-method/src/models/payment-mean/index.js
  packages/components/ovh-payment-method/src/models/payment-mean/payment-mean-bank-account.class.js
  packages/components/ovh-payment-method/src/models/payment-mean/payment-mean-credit-card.class.js
  packages/components/ovh-payment-method/src/models/payment-mean/payment-mean-deferred-payment-account.class.js
  packages/components/ovh-payment-method/src/models/payment-mean/payment-mean-paypal.class.js
  packages/components/ovh-payment-method/src/models/payment-mean/payment-mean.class.js
  packages/components/ovh-payment-method/src/models/payment-method-type.class.js
  packages/components/ovh-payment-method/src/models/payment-method.class.js
  packages/components/ovh-payment-method/src/ovh-payment-mean.js
  packages/components/ovh-payment-method/src/ovh-payment-method.js
  packages/components/ovh-reket/CHANGELOG.md
  packages/components/ovh-reket/README.md
  packages/components/ovh-reket/package.json
  packages/components/ovh-reket/src/constants.js
  packages/components/ovh-reket/src/index.js
  packages/components/ovh-reket/src/redirections.js
Labels: dependencies

fix(ng-ovh-payment-method): revert rollup config to original
  packages/components/ng-ovh-payment-method/rollup.config.js
Labels: none

fix: taking care of PR comments
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ovh-payment-method/src/ovh-payment-mean.js
Labels: dependencies

feat: use ovh-payment-method in ng-ovh-payment-method
  packages/components/ng-ovh-payment-method/package.json
  packages/components/ng-ovh-payment-method/rollup.config.js
  packages/components/ng-ovh-payment-method/src/available-payment-method.class.js
  packages/components/ng-ovh-payment-method/src/components/integration/controller.js
  packages/components/ng-ovh-payment-method/src/components/integration/redirect/controller.js
  packages/components/ng-ovh-payment-method/src/index.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean-bank-account.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean-credit-card.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean-deferred-payment-account.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean-paypal.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean-type.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean.class.js
  packages/components/ng-ovh-payment-method/src/legacy/mean/payment-mean.constants.js
  packages/components/ng-ovh-payment-method/src/legacy/payment-method-legacy.js
  packages/components/ng-ovh-payment-method/src/payment-method-helper.service.js
  packages/components/ng-ovh-payment-method/src/payment-method-type.class.js
  packages/components/ng-ovh-payment-method/src/payment-method.class.js
  packages/components/ng-ovh-payment-method/src/payment-method.constants.js
  packages/components/ng-ovh-payment-method/src/payment-method.provider.js
  packages/components/ng-ovh-payment-method/src/payment-method.service.js
Labels: dependencies

fix(lock): fix yarn lock
  yarn.lock
Labels: none

feat(project): add load_quotas
  packages/manager/modules/pci/src/projects/project/project.routing.js
Labels: univers-public-cloud

feat(container): empty user popup
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/addUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/addUser/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/emptyUser.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/emptyUser.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/emptyUser/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/container/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/objects/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/emptyUser/emptyUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/emptyUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: translation required, univers-public-cloud

feat(project.kube): add new kube enpdoints
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.constants.js
  packages/manager/modules/pci/src/projects/project/kubernetes/kubernetes.routing.js
  packages/manager/modules/pci/src/projects/project/kubernetes/service.js
Labels: univers-public-cloud

feat(project.kube.add): allow to add a new region
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.component.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/kubernetes/add/add.html
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

fix(ovh-reket): set enableSsoAuth to true by default
  packages/components/ng-ovh-payment-method/src/payment-method.service.js
  packages/components/ovh-reket/README.md
  packages/components/ovh-reket/src/index.js
Labels: none

fix(sao.module): add import scss file
  packages/manager/tools/sao-ovh-manager-module/template/src/index.js
Labels: none

fix: add missing scss import
  packages/manager/modules/netapp/src/module.js
Labels: none

feat(dedicated.server): hgv2 new upgrade flow
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/dashboard.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/technical-details/technical-details.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/technical-details/technical-details.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/technical-details/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_de_DE.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_en_GB.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_es_ES.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_fr_CA.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_it_IT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_pl_PL.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/translations/Messages_pt_PT.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade-request.routing.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade-request/upgrade.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/index.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.component.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.constants.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.controller.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.html
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.module.js
  packages/manager/apps/dedicated/client/app/dedicated/server/dashboard/upgrade/upgrade.routing.js
Labels: translation required

fix(dedicated): drp availability for trusted nic
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dashboard/dedicatedCloud-datacenter-dashboard.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.component.js
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/dedicatedCloud-datacenter.html
  packages/manager/apps/dedicated/client/app/dedicatedCloud/datacenter/dedicatedCloud-datacenter.routing.js
  packages/manager/apps/dedicated/client/app/managedBaremetal/datacenter/datacenter.routing.js
Labels: universe-hosted-private-cloud

fix(dedicated): trusted nic price info
  packages/manager/apps/dedicated/client/app/common/translations/Messages_fr_FR.json
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/backup/new/new.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/datastore/order/dedicatedCloud-datacenter-datastore-order.html
  packages/manager/apps/dedicated/client/app/components/dedicated-cloud/datacenter/host/order/dedicatedCloud-datacenter-host-order.html
Labels: translation required

feat(add.users.objects): add users on objects
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/container.html
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/addUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/objects/object/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object/addUser/addUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object/addUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object/emptyUser/emptyUser.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object/emptyUser/index.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: translation required, univers-public-cloud

fix(webpaas): enable webPaas subscription environment upgrade
  packages/manager/modules/web-paas/src/components/additional-option/constants.js
  packages/manager/modules/web-paas/src/components/additional-option/controller.js
  packages/manager/modules/web-paas/src/components/addon/constants.js
  packages/manager/modules/web-paas/src/components/addon/controller.js
  packages/manager/modules/web-paas/src/components/addon/template.html
  packages/manager/modules/web-paas/src/components/addon/translations/Messages_fr_FR.json
  packages/manager/modules/web-paas/src/details/service/service.html
  packages/manager/modules/web-paas/src/web-paas.constants.js
  packages/manager/modules/web-paas/src/web-paas.service.js
Labels: translation required

fix(dedicated): typo in dedicated server dashboard
  packages/manager/apps/dedicated/client/app/dedicated/server/details/translations/Messages_fr_FR.json
Labels: translation required

feat: add storage and backup config
  packages/manager/modules/server-sidebar/src/sidebar.constants.js
  packages/manager/modules/server-sidebar/src/translations/Messages_fr_FR.json
Labels: translation required

fix(i18n): add missing translations [CDS 1055]
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_de_DE.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_en_GB.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_es_ES.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_fr_CA.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_it_IT.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_pl_PL.json
  packages/manager/modules/pci/src/projects/project/kubernetes/add/translations/Messages_pt_PT.json
Labels: univers-public-cloud

feat(pci): implementing flavor selection for ai-training
  Dockerfile
  packages/manager/modules/pci/src/projects/project/training/command_line_converter.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.scss
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/training.html
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Labels: translation required, univers-public-cloud

feat(pci): pr fixes
  Dockerfile
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
Labels: univers-public-cloud

feat(pci): implementing flavor selection for ai-training
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.scss
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Labels: univers-public-cloud

.github/labeler.yml:

build:
  - packages/manager/tools/!(testcafe)/**
continous-integration:
  - .github/**
dependencies:
  - ./**/package.json
documentation:
  - docs/**
tests:
  - packages/manager/tools/testcafe/**
translation required:
  - packages/**/Messages_fr_FR.json
univers-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**
