Repository ovh-ux/manager, changes with the labels that .github/labeler.yml gives for each.
All labels: continous-integration, dependencies, documentation, tests, translation required, univers-public-cloud, universe-hosted-private-cloud, universe-hub

.github/labeler.yml:

build:
  - packages/manager/tools/!(testcafe)/**
continous-integration:
  - .github/**
dependencies:
  - ./**/package.json
documentation:
  - docs/**
tests:
  - packages/manager/tools/testcafe/**
translation required:
  - packages/**/Messages_fr_FR.json
univers-public-cloud:
  - packages/manager/*/pci/**
  - packages/manager/apps/public-cloud/**
universe-bare-metal-cloud:
  - packages/manager/apps/dedicated/**/!(dedicatedCloud)/**
  - packages/manager/*/cda/**
  - packages/manager/*/cloud-connect/**
  - packages/manager/*/dbaas-logs/**
  - packages/manager/*/enterprise-cloud-database/**
  - packages/manager/*/iplb/**
  - packages/manager/*/metrics/**
  - packages/manager/*/nasha/**
  - packages/manager/*/veeam-*/**
  - packages/manager/*/vps/**
  - packages/manager/*/vps/**
  - packages/manager/*/vrack/**
universe-hosted-private-cloud:
  - packages/manager/apps/dedicated/client/app/dedicatedCloud/**
universe-hub:
  - packages/manager/*/hub/**
universe-telecom:
  - packages/manager/*/carrier-sip/**
  - packages/manager/*/telecom?(-*)/**
  - packages/manager/*/freefax/**
  - packages/manager/*/overthebox/**
  - packages/manager/*/sms/**
universe-web-cloud:
  - packages/manager/*/web?(-*)/**
  - packages/manager/*/emailpro/**
  - packages/manager/*/exchange/**
  - packages/manager/*/office/**
  - packages/manager/*/sharepoint/**

feat(catalog-price): fix volume in submit
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
Labels: univers-public-cloud

feat(pci/ai-training): fix job pull + traduction issue
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_en_GB.json
Labels: univers-public-cloud

feat(catalog-price): add infos to job info page
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(pci/ai-training): add field name into oui-field
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(pci/ai-training): fix traduction for ssd and network
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(pci): pr fixes
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(core): expose constants
  packages/manager/modules/core/src/index.js
Labels: none

feat(core): add global guides
  packages/manager/modules/core/src/manager-core.constants.js
Labels: none

feat(netapp): create onboarding page
  packages/manager/modules/netapp/package.json
  packages/manager/modules/netapp/src/onboarding/assets/netapp_onboarding.png
  packages/manager/modules/netapp/src/onboarding/component.js
  packages/manager/modules/netapp/src/onboarding/constants.js
  packages/manager/modules/netapp/src/onboarding/controller.js
  packages/manager/modules/netapp/src/onboarding/routing.js
  packages/manager/modules/netapp/src/onboarding/template.html
  packages/manager/modules/netapp/src/onboarding/translations/Messages_fr_FR.json
  packages/manager/modules/netapp/src/translations/Messages_fr_FR.json
Labels: dependencies, translation required

feat(netapp): add models dependency
  packages/manager/apps/netapp/package.json
Labels: dependencies

fix(xdsl.service.modal): fix modal service for content sharing
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/modem/service/modal/service-modal.controller.js
Labels: none

feat(sva): add sva module
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias-main.html
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/order-alias.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/billingAccount/orderAlias/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kycIdentityForm/index.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kycIdentityForm/kyc-identity-form.component.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kycIdentityForm/kyc-identity-form.controller.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kycIdentityForm/kyc-identity-form.html
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/kycIdentityForm/translations/Messages_fr_FR.json
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/sva-wallet.module.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/sva-wallet.routing.js
  packages/manager/apps/telecom/src/app/telecom/telephony/svaWallet/sva-wallet.service.js
Labels: translation required

feat(dashboard): update list for new options
  packages/manager/modules/pci/src/projects/project/storages/containers/container.class.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.component.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/delete/delete.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.constants.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.service.js
  packages/manager/modules/pci/src/projects/project/storages/containers/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/storages/objects/object/delete/delete.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/object/object.routing.js
  packages/manager/modules/pci/src/projects/project/storages/objects/objects.routing.js
Labels: translation required, univers-public-cloud

feat(xdsl.statistics): add HEC, FEC and CRC
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/statistics/statistics.controller.js
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/statistics/statistics.html
  packages/manager/apps/telecom/src/app/telecom/pack/xdsl/access/statistics/translations/Messages_fr_FR.json
Labels: translation required

feat(order): wip
  packages/manager/modules/netapp/src/order/constants.js
  packages/manager/modules/netapp/src/order/controller.js
  packages/manager/modules/netapp/src/order/index.js
  packages/manager/modules/netapp/src/order/routing.js
  packages/manager/modules/netapp/src/order/template.html
  packages/manager/modules/netapp/src/order/translations/Messages_fr_FR.json
Labels: translation required

feat(s3.objects): create s3 objects
  packages/manager/apps/public-cloud/package.json
  packages/manager/apps/public-cloud/src/app.module.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/add.module.js
  packages/manager/modules/pci/src/projects/project/storages/containers/container/object/add/index.js
  packages/manager/modules/pci/src/projects/project/storages/containers/containers.html
Labels: dependencies, univers-public-cloud

fix(pci): add billing information for notebooks
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/template.html
  packages/manager/modules/pci/src/components/project/billing/hourly-resource-list/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/billing/billing.service.js
Labels: translation required, univers-public-cloud

fix(pci): add onboarding image for notebooks
  packages/manager/modules/pci/src/projects/project/notebooks/onboarding/assets/notebooks.png
Labels: univers-public-cloud

fix: add automation component
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/configuration-command.html
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/configuration-command/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(notebooks.add): add notebook page
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/notebook.constants.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(notebooks.add.component.config): add config section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-configuration/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-configuration/notebook-configuration.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-configuration/notebook-configuration.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-configuration/notebook-configuration.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-configuration/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

fix(pci): add notebooks table page
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/delete-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/delete-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/delete-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/components/delete-notebook/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/notebooks/delete-notebook/delete-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/delete-notebook/delete-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/delete-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebooks.module.js
Labels: translation required, univers-public-cloud

feat(notebooks.add.component.editor): add editor section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/notebook-editors-list.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/notebook-editors-list.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-editors-list/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(notebooks.add.component.resources): add resources section
  packages/manager/apps/pci/package.json
  packages/manager/apps/public-cloud/package.json
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/notebook-resources.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-resources/translations/Messages_fr_FR.json
Labels: dependencies, translation required, univers-public-cloud

feat(notebooks.dashboard): setup general_info tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
Labels: univers-public-cloud

feat(notebooks.add.component.framework): add framework section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-frameworks-list/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-frameworks-list/notebook-frameworks-list.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-frameworks-list/notebook-frameworks-list.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-frameworks-list/notebook-frameworks-list.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-frameworks-list/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(notebooks.dashboard): setup attach_data tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/dashboard.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(notebooks.add.component.privacy): add privacy section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-privacy-settings/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-privacy-settings/notebook-privacy-settings.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-privacy-settings/notebook-privacy-settings.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-privacy-settings/notebook-privacy-settings.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-privacy-settings/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(notebooks.dashboard.attach_data): add attach_data tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/attach-data.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/attach-data/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(notebooks.add.component.review): add review section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/notebook-review.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/notebook-review.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/notebook-review.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

fix(notebooks): rename notebook class
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-review/notebook-review.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/notebook.constants.js
Labels: univers-public-cloud

feat(notebooks.add.component.attach): add attach section
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/notebook-attach.html
  packages/manager/modules/pci/src/projects/project/notebooks/add/components/notebook-attach/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(pci): implementing flavor selection for ai-training
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.scss
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Labels: univers-public-cloud

feat(notebooks.dashboard.general-info): complete general_info tab
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/general-information.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(catalog-price): add infos to job info page
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/info/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(pci): pr fixes
  Dockerfile
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
Labels: univers-public-cloud

feat(pci): implementing flavor selection for ai-training
  Dockerfile
  packages/manager/modules/pci/src/projects/project/training/command_line_converter.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/info/info.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.html
  packages/manager/modules/pci/src/projects/project/training/jobs/jobs.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.component.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.html
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.routing.js
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.scss
  packages/manager/modules/pci/src/projects/project/training/jobs/translations/Messages_fr_FR.json
  packages/manager/modules/pci/src/projects/project/training/training.html
  packages/manager/modules/pci/src/projects/project/training/training.service.js
Labels: translation required, univers-public-cloud

feat(notebooks.dashboard.g-info.rm-notebook): modal to rm notebook
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/delete-notebook.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/delete-notebook/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(notebooks.dashboard.general-info.tags-add): add modal to add tag
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.component.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.controller.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.html
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.module.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/add.routing.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/index.js
  packages/manager/modules/pci/src/projects/project/notebooks/dashboard/general-information/tags/add/translations/Messages_fr_FR.json
Labels: translation required, univers-public-cloud

feat(catalog-price): fix volume in submit
  packages/manager/modules/pci/src/projects/project/training/jobs/submit/submit.controller.js
Labels: univers-public-cloud
